.main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 25vh;
  font-size: larger;
}
.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  margin-top: 10px;
  
}
.btn{
  font-size: larger;
  font-weight: bold;
  border: 2px solid green;
  padding: 5px;
  cursor: pointer;

}
